* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b5b5b5;
    padding: 20px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contentContainerChild {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
}


.title {
    font-family: "Roboto Light", sans-serif;
    margin-bottom: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.number-input {
    text-align: end;
    width: 90%;
    background-color: #777777;
    font-family: "Roboto Light", sans-serif;
    border: none;
    padding: 20px 10px;
    margin: 10px 0;
    font-size: 30px;
    color: white;
}

/*Кнопки*/
.buttons {
    display: flex;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.operations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    width: 25%;
}

/*Стили самих кнопок непосредственно*/
.numberButton {
    width: 85px;
    height: 85px;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.operationButton {
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #818181;
    color: white;
}

.btn-gray {
    background-color: #707070;
    color: white;
}

.btn-blue {
    background-color: #505050;
    color: white;
}

.delete {
    background-color: #8e0000;
    color: white;
}

/*Псевдостили самих кнопок непосредственно*/
.numberButton:hover {
    box-shadow: #818181 0 0 5px;
}

.operationButton:hover {
    box-shadow: #d8d8d8 0 0 5px;
}